<div id="{{ menuStyle }}">
  <div id="about" class="menu-box">
    <a [routerLink]="[prependLink + 'the-shop']" class="menu-item" routerLinkActive="active"><h1>THE SHOP</h1>
    </a>
  </div>
  <div id="menu" class="menu-box">
    <a [routerLink]="[prependLink + 'menu']" class="menu-item"><h1>MENU</h1></a>
  </div>
  <div id="story" class="menu-box">
    <a [routerLink]="[prependLink + 'our-story']" class="menu-item"><h1>OUR STORY</h1></a>
  </div>
  <div id="social" class="menu-box">
    <a [routerLink]="[prependLink + 'social']" class="menu-item"><h1>#SOCIAL</h1></a>
  </div>
</div>
